/*Mobile First Style*/
.listCard {
  margin-bottom: 1rem
}

.listCard.mb0 {
  margin-bottom: 0;
}

.wrapper,
.buttonContainer {
  width          : 100%;
  display        : flex;
  justify-content: center;
  align-items    : center;
}

.banner {
  width                    : 100% !important;
  padding                  : 0.5rem 2rem;
  border-top               : none !important;
  border-start-start-radius: 0;
  padding-bottom: 2rem !important;
}

.wrapper {
  flex-direction: column;
}


.buttonIcon {
  margin: 0 0.3rem;
}

.button:disabled {
  cursor: pointer;
}

/*Devices larger than mobile phone*/
@media (min-width: 576px) {}